version: "3"
services:
  postgres:
    image: postgres:12
    container_name: postgres
    hostname: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=svfoundation_db
#    ports:
#      - 5432:5432
    volumes:
      - ../postgres-data:/var/lib/postgresql/data
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    hostname: api
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - postgres
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - DB_NAME=svfoundation_db
      - DB_HOST=postgres
      - DB_POST=5432
      - DB_USR=postgres
      - DB_PWD=${POSTGRES_PASSWORD}
      - FONDY_MERCHANT_ID=1504162
      - FONDY_KEY=${FONDY_KEY}
    entrypoint: ["/app/entrypoint.sh"]




