name: deploy-production
on:
  push:
    branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy-production:
    runs-on: self-hosted
    environment: production
    steps:
      - uses: actions/checkout@v3
      #- name: stop docker-compose
        #run: /usr/bin/docker-compose down
      - name: generate docker-compose config
        env:
           FONDY_KEY: ${{ secrets.FONDY_KEY }}
           POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
           SECRET_KEY: ${{ secrets.SECRET_KEY }}
           DEBUG: False
        run: envsubst < ./docker-compose-template.yaml > ./docker-compose.yaml
      - name: run docker-compose
        run: /usr/bin/docker-compose up -d --build
